.about_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 71%;
  margin: auto;

  p {
    margin: 20px auto;
  }
  h1 {
    margin: 30px auto;
    font-weight: bold;
    font-size: 20px;
  }
  img {
    max-width: 100%;
  }
}
