.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /*height: 120px;*/
  padding-top: 20px;
}
.header nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header nav > ul li {
  font-size: 14px;
  margin-right: 30px;
  cursor: pointer;
}
.header li a {
  color: black;
  text-decoration: none;
}
.submenu {
  position: absolute;
  z-index: 10;
  background-color: white;
  margin: 30px;
  left: 630px;
}
.submenu ul li {
  line-height: 15px;
  padding: 10px 35px 5px 10px;
}
.logo {
  text-align: center;
  margin-top: 50px;
}
