.footer {
    background-color: #F8F8F8;
}
.footer-row {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin:  auto;
    width: 80%;
    padding-top: 20px;
    margin-bottom: 70px;
}
.footer-column {
    width: 25%;
}
.footer-column h1 {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
.footer-column p {
    color: #333333;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.5px;
}
.footer-input h2{
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-input input {
    width: 90%;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 10px;
}
.footer-input button {
    border: 1px solid #ffffff;
    background-color: #444444;
    color: white;
    height: 35px;
    width: 90px;
}
.footer-input button:hover{
    background-color: black;
}
.text-center{
    background-color: white;
    margin-bottom: 30px;
    text-align: center;
}
.text-center p {
    font-weight: 400;
    color: #333;
    padding-top: 30px;
    letter-spacing: 1.5px;
    font-size: 10px;
}