.basket-item table {
  border-collapse: collapse;
  width: 100%;
}
.basket-item th,
.basket-item td {
  border: 1px solid #999;
  padding: 0.7rem;
  text-align: left;
  vertical-align: middle;
  letter-spacing: 2px;
  font-size: 15px;
}
.basket-item table img {
  width: 40px;
}
.basket-item th {
  font-weight: 700;
}
.quantity-input {
  width: 40px;
  outline: none;
  margin: 10px;
  all: unset;
  width: 50px;
  text-align: center;
}
.quantity-input::-webkit-inner-spin-button {
  display: none;
}
.coupon-input {
  width: 100px;
  outline: none;
  margin-right: 15px;
  height: 25px;
}
.basket-item button {
  background-color: black;
  color: white;
  font-weight: 700;
  height: 30px;
  outline: none;
  cursor: pointer;
  border: none;
}
.basket-item button:hover {
  opacity: 0.5;
}
#cart-btn {
  float: right;
  cursor: pointer;
}
#delete-btn {
  color: red;
  background: none;
  border: none;
  font-weight: 700;
  font-size: 17px;
}
#delete-btn:hover {
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 25px;
  opacity: unset;
}
.total-cart {
  width: 40%;
  margin: 50px 60%;
}
.total-cart button {
  width: 100%;
  margin-top: 20px;
  height: 40px;
  font-size: 16px;
}
.total-cart h1 {
  text-align: left;
}
.td-input button {
  width: 20px;
  height: 20px;
  border-radius: 15px;
}
@media (max-width: 900px) {
  .basket-item {
    overflow-x: auto;
  }
}
